<Context>
    <Parameter  name="scenariooDataDirectory"
                value="{{ config.scenariooDocuFolder }}/{{ item }}"
                override="true"
                description="Location of scenarioo config.xml file for branch {{ item }}"/>
</Context>