<Context>
    <Parameter  name="scenariooDataDirectory"
                value="{{ config.scenariooDocuFolder }}/{{ branch }}"
                override="true"
                description="Location of scenarioo config.xml file for branch {{ branch }}"/>
</Context>